<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Expresso Services</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' th:href='@{/styles/index.css}' href="index.css">
        <script src='main.js'></script>
</head>
<body>
    <br><br><br><br>
    <section class="paradiv">
        <div class="center exprexofont">
            EXPRESSO SERVICES
        </div>
        <h3 class="center" >All Deliveries</h3>
        
        <table class="center tablerow">
            <thead class="solid">
                <th>Delivery ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Star</th>
                <th>Zone</th>
            </thead>
            <tr class="solid" th:each="delivery : ${deliveries}">
                <td><span th:text = ${delivery.deliveryid} >DeliveryID</span></td>
                <td><span th:text = ${delivery.firstname} >Firstname</span></td>
                <td><span th:text = ${delivery.lastname} >Lastname</span></td>
                <td><span th:text = ${delivery.address} >Address</span></td>
                <td><span th:text = ${delivery.phone} >Phone</span></td>
                <td><span th:text = ${delivery.star} >Star</span></td>
                <td><span th:text = ${delivery.zone.zoneName} >Star</span></td>
            </tr>
        </table>
        <div class="return">
            <a th:href="@{/delivery}" >RETURN</a>
        </div>
        <div class="foot">
            Produced By Be CONNECT
        </div>
    </section>
</body>
</html>