<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Expresso Services</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' th:href='@{/styles/index.css}' href="index.css">
        <script src='main.js'></script>
    </head>
    <body>
        <br><br><br><br>
        <section class="paradiv">
            <div class="center exprexofont">
                EXPRESSO SERVICES
            </div>
            <ul class="center">
                <li><a th:href="@{/clients/registration}">Client Registration</a> </li>
                <li><a th:href="@{/clients/all}">All Clients</a></li>
                 <li><a href="">New Order</a> </li>
            </ul>
            <div class="return">
                <a th:href="@{/}" >RETURN</a>
            </div>
            <div class="foot">
                Produced By Be CONNECT
            </div>
        </section>
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </body>   
    
</html>