<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Expresso Services</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/styles/index.css}'>
    <script src='main.js'></script>
</head>
<body>
    <br><br><br><br>
    <section class="paradiv">
        <div class="center exprexofont">
            EXPRESSO SERVICES
        </div>
        <h3 class="center">Delivery Man Registration</h3>
        <div>
            <form th:action="@{/delivery/register}" method="post" class="center">
                <div>
                    <label for="firstname">FirstName : </label>
                    <input type="text" name="firstname" placeholder="FirstName">
                </div><br>
                <div>
                    <label for="lastname">LastName : </label>
                    <input type="text" name="lastname" placeholder="LastName">
                </div><br>
                <div>
                    <label for="address">Address : </label>
                    <input type="text" name="address" placeholder="71-76 Covent Street, London, ENGLAND">
                </div><br>
                <div>
                    <label for="phone">Phone : </label>
                    <input type="tel" name="phone" placeholder="+229 XXXXXX">
                </div><br>
                <div>
                    <label for="delivstar">Star : </label>
                    <input type="number" name="star" placeholder="XX" max="5">
                </div><br>
                <div>
                    <label for="zoneName">Zone : </label>
                    <select >
                        <span name="zone" th:each="zone : ${zones}">
                            <option th:text="${zone.zoneName}" >NomZone</option>
                        </span>
                    </select>
                </div><br>
                <div>
                    <input type="submit" value="SUBMIT">
                </div>
            </form>
        </div>
        <div class="return">
            <a th:href="@{/delivery}">RETURN</a>
        </div>
        <div class="foot">
            Produced By Be CONNECT
        </div>
    </section>
</body>

</html>