<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Expresso Services</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' th:href='@{/styles/index.css}'>
        <script src='main.js'></script>
    </head>
    <body>
    <section class="paradiv">
        <div class="center exprexofont">
            EXPRESSO SERVICES
        </div>
        <ul class="center">
            <li><a th:href="@{/deliveryregis}">Delivery Registration</a> </li>
            <li><a th:href="@{/deliveries/all}">All Deliveries Men</a></li>
            <li><a th:href="@{/zone}">Zone Registration</a></li>
            <li><a href="@{}">Deliveries by Star</a> </li>
        </ul>
        <div class="return">
            <a th:href="@{/}">RETURN</a>
        </div>
        <div class="foot">
            Produced By Be CONNECT
        </div>
    </section>
    </body>   
    
</html>