<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Expresso Services</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' th:href='@{index.css}'>
        <script src='main.js'></script>
    </head>
    <body>
        <section class="paradiv">
            <div class="center exprexofont">
                EXPRESSO SERVICES
            </div>
            <ul class="center">
                <li><a href="client.html">CLIENT</a> </li>
                <li><a href="#">ORDER</a></li>
                <li><a href="#">DELIVER</a> </li>
                <li><a href="#">ORDER</a> </li>
            </ul>
            <div class="foot">
                Produced By Be CONNECT
            </div>
        </section>
    </body>   
    
</html>